<div class="col-sm-7 col-md-8 right-column">
	<!--<div class="row">-->
		<!--<div class="col-sm-8" id="deactivate" ng-click="deactivate()">Lacy!</div>-->
	<!--</div>-->
	<div class="card">
		<h2>Jeremy</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis cumque deleniti illo nisi odio praesentium quod soluta velit voluptatum. Asperiores cupiditate eos hic inventore itaque magnam minima non praesentium.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis cumque deleniti illo nisi odio praesentium quod soluta velit voluptatum. Asperiores cupiditate eos hic inventore itaque magnam minima non praesentium.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis cumque deleniti illo nisi odio praesentium quod soluta velit voluptatum. Asperiores cupiditate eos hic inventore itaque magnam minima non praesentium.</p>
	</div>
</div>